<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/errorstyle.css') }}">
</head>
<body>
    <div class="error-container">
        <div class="error-box">
            <h1>Error {{number_error}}</h1>
            <p>Ha ocurrido un error inesperado. Por favor, intenta de nuevo más tarde.</p>
            <button onclick="window.location.href='/'">Volver a la página principal</button>
        </div>
    </div>
</body>
</html>
